@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    background-color: #EEEEEE;
    height: 100%;
}

#navigation a.active {
    background-color: #EAB308;
    color: black;
}